*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all .25s ease-in-out;
}

body {
  font-family: Raleway;
}

.hero {
  height: 100vh;
  background: url(bg.jpg) center center no-repeat fixed;
  background-size: cover;
  width: 100%;
  display: table;
  .centered {
    display: table-cell;
    vertical-align: middle;
    // background: rgba(#2ecc71, 0.4);
    background: rgba(#f2709c, 0.3); /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(#f2709c, 0.5), rgba(#ff9472, 0.5)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(#f2709c, 0.5), rgba(#ff9472, 0.5));
    padding: 0 4rem;
    .text-contain{
      width: 43%;
      background: #fff;
      padding: 50px 40px;
      border-radius: 5px;
      box-shadow: 0 0 33px rgba(#000, 0.1);
      h1,p {
        color:rgba(#000, 0.7);
      }
      h1 {
        font-size: 3rem;
        span {
          padding-bottom: 4px;
          border-bottom: 5px solid rgba(#fff, 0.2);
        }
      }
      p {
        margin-top: 20px;
        font-size: 1.3rem;
      }
    }
  }
}
nav {
  padding: 30px 50px;
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
  .logo {
    font-weight: 900;
    background: #f857a6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f857a6, #ff5858); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f857a6, #ff5858);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  ul {
    float: right;
    li {
      list-style-type: none;
      display: inline-block;
      margin-right: 30px;
      a {
        border-top: 2px solid rgba(#f2709c, 0);
        padding-top: 28px;
        &:hover {
          border-top: 2px solid #f2709c;

        }
      }
    }
  }
}

a {
  text-decoration: none;
  color: #f2709c;
}


.button {
  position: relative; // opacity: .6;
  font-family: Raleway;
  font-weight: 400;
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 4px;
  text-decoration: none;
  margin-right: 15px;
  padding: 13px 25px; // background: rgba(#fff, 1);
  // border: 2px solid #fff; // box-shadow: 3px 3px 0 rgba(#fff, .5);
  // color: #222;
  border: 2px solid #f2709c;
  color: rgba(#f2709c, 1);
  background: transparent;
  &:hover {
      background: rgba(#f2709c, 1);
      border: 2px solid #f2709c;
      box-shadow: 3px 3px 0 rgba(#fff, 0);
      opacity: 1;
      color: #fff;
  }
}
.active {
  background: rgba(#f2709c, 1);
  color: #fff;
}
.bg {
  background: #f6f6f6;
  height: 100vh;
  width: 100%;
}
.form_wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  background: #fff;
  padding: 50px 30px;
  transform: translate(-50%, -50%);
  h2 {
    text-align: center;
    text-transform: uppercase;
    color: #202020;
    letter-spacing: 2px;
    margin-bottom: 20px;
  }
  form {
    input {
      border: 2px solid rgba(#a6a6a6, 0.4);
      padding: 10px 10px;
      width: 300px;
      font-family: Raleway;
      font-size: 1.2rem;
      margin: 5px 0;
      &:active,
      &:focus {
        border: 2px solid #f2709c;
        outline: none;
      }
      &[type="submit"] {
        width: 100%;
        border: 2px solid #f2709c;
        background: transparent;
        border-radius: 2px;
        color:#f2709c;
        cursor: pointer;

        &:hover {
          background: #f2709c;
          color: #fff;
        }
      }
    }
  }
}

.record_btn {
  position: absolute;
  top: 400px;
}
.record_button {
  height: 150px;
  box-shadow: 0px 15px 0 rgba(#f2709c, 0.6);
  border-radius: 30px;
  width: 500px;
  font-weight: 900;
  font-family: Raleway;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  background: #f2709c;
  border: none;
  outline: none;
  top: 0;
  position: relative;
  opacity: .9;
  &:hover {
    top: -7px;
    opacity: 1;
    box-shadow: 0px 20px 0 rgba(#f2709c, 0.6);
  }
  &:active {
    top: 7px;
    box-shadow: 0px 10px 0 rgba(#f2709c, 0.6);
  }
}
.logged_out_err {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.speech_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  textarea {
    width: 100%;
    margin-top: 50px;
    height: 200px;
    // width: 100px;
    border: none;
    outline: none;
    font-family: Raleway;
    font-size: 1.3rem;
    padding: 5px 10px;
    border-radius: 15px;
  }
}
.speech {
  height: 100vh;
  width: 100%;
  background: #f6f6f6;
  // background: url(repeat.png) center center;
}
