{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
  <div class="record_btn">
    RECORD
    <a href="/logout">logout</a>
  </div>
{% else %}


<section class="hero">
  <div class="centered">
    <div class="text-contain">
    <h1>
      voiceManager is a simple <span>daily logger</span> and <span>analysis</span> tool.
    </h1>
    <p class="lead">
      Experience a simple, fulfilled life with accurate tracking for mood and daily events. All with the power of your voice.
    </p>
    <br>
    <p class="lead">
      <a class="button active" href="#0">LOGIN</a>
      <a class="button" href="#0">READ ON</a>
    </p>
    </div>
  </div>
</section>

{% endif %}
{% endblock %}
