{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
<section class="speech">
  <div class="speech_wrapper">
    <input type="button" onclick="startSpeech()" value="Record my day" class="record_button" id="recordButton"> <br>
    <textarea id="transcript" placeholder="Forget everything and just talk." readonly="True"></textarea>
  </div>
</section>

<div class="result_btn">
  <a href="#0" id = "next_btn">Personalized results</a>
</div>
<script>
  function download(data, filename, type) {
      var file = new Blob([data], {type: type});
      if (window.navigator.msSaveOrOpenBlob) // IE10+
          window.navigator.msSaveOrOpenBlob(file, filename);
      else { // Others
          var a = document.createElement("a"),
                  url = URL.createObjectURL(file);
          a.href = url;
          a.download = filename;
          document.body.appendChild(a);
          a.click();
          setTimeout(function() {
              document.body.removeChild(a);
              window.URL.revokeObjectURL(url);
          }, 0);
      }
  }

	function startSpeech(){
    document.getElementById('recordButton').value = 'Recording...';
		document.getElementById('transcript').value = ' ';
        if(window.hasOwnProperty('webkitSpeechRecognition')){
        	var recognition= new webkitSpeechRecognition();
        	recognition.continuous = false;
            recognition.interimResults = false;
            recognition.lang = "en-US";
            recognition.start();
            console.log("start");
	        recognition.onresult = function (e) {
              var content = document.getElementById('transcript').value = e.results[0][0].transcript;

              document.getElementById('recordButton').value = 'Done for now!';
	            document.getElementById('transcript').value = e.results[0][0].transcript;
	            recognition.stop();
	            var data = e.results[0][0].transcript;
              var next = document.getElementById("next_btn");

              next.style.display = "block";
              download(data, 'log.txt', 'text/plain');

	        };
	        recognition.onerror = function (e) {
	            recognition.stop();
	            console.log("Recognition had an error "+e.error);
	        }
        }
	}
</script>
{% else %}


<section class="hero">
  <div class="centered">
    <div class="text-contain">
    <h1>
      voiceManager is a simple <span>daily logger</span> and <span>analysis</span> tool.
    </h1>
    <p class="lead">
      Experience a simple, fulfilled life with accurate tracking for mood and daily events. All with the power of your voice.
    </p>
    <br>
    <p class="lead">
      <a class="button active" href="/login">LOGIN</a>
      <a class="button" href="#0">READ ON</a>
    </p>
    </div>
  </div>
</section>

{% endif %}
{% endblock %}
